@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutUser";

}


<div>
    <br />
    <h3>Opci uslovi koristenja</h3>
    <br /><br />

    <p>Korištenjem bilo kojeg dijela <strong>Kluba knjige online-knjizara.ba</strong> (u nastavku  teksta: <strong>Klub knjige</strong>) automatski  prihvatate sve aktuelne uslove korištenja. Korisnici su dužni redovno pratiti  izmjene i dopune uslova korištenja, kako bi u svakom trenutku bili upoznati s aktuelnim  uslovima korištenja. </p>
    <p>Korištenjem usluga <strong>Kluba knjige</strong> smatra se da su korisnici  u svakom trenutku upoznati s ovim uslovima korištenja, te da ih u potpunosti  razumiju i prihvaćaju, uključujući i odredbe u vezi s kolačićima (Cookiesima).</p>
    <h3><strong>Autorska prava</strong></h3>
    <p><strong>Klub knjige</strong> je u vlasništvu firme <strong>online-knjizara d.o.o.</strong>, i sve informacije i materijal <strong>Kluba knjige</strong> (u nastavku teksta: <strong>Sadržaj</strong>) se ne smiju distribuirati ili neovlašteno koristiti u  komercijalne svrhe bez izričitog odobrenja <strong>online-knjizara d.o.o.</strong>, ili na bilo koji način koji može prouzrokovati štetu <strong>online-knjizara d.o.o.</strong>, ili bilo kojoj trećoj  strani. Sav <strong>Sadržaj</strong> korišten u <strong>Klubu knjige</strong> (uključujući dizajn,  tekst, fotografije, audio i video zapise) u vlasništvu je firme <strong>online-knjizara d.o.o.</strong> i može se koristiti samo  za individualne potrebe korisnika uz poštivanje svih autorskih i srodnih prava,  te prava trećih osoba skladno zakonskim propisima Bosne i Hercegovine.</p>
    <p>Ni jedan dio <strong>Sadržaja</strong> se ne smije skidati, kopirati, reproducirati, prenositi,  prodavati ili distribuirati bez izričitog odobrenja firme <strong>online-knjizara d.o.o.</strong> Zahtjeve za objavljivanjem bilo kojeg dijela <strong>Sadržaja</strong> ili upotrebom citata ili  pasusa iz bilo koje <strong>online-knjizara.ba</strong> publikacije, treba uputiti na <strong>online-knjizara.ba</strong> adresu.</p>
    <p><strong>Linkovi na vanjske stranice</strong></p>
    <p><strong>Klub knjige</strong> sadrži linkove na web stranice izvan vlastitog portala. <strong>Klub knjige</strong> linkove objavljuje u  najboljoj namjeri i ne može se smatrati odgovornim za sadržaj izvan <strong>Kluba knjige</strong>.</p>
    <h3>Komentari</h3>
    <p>
        Komentari odražavaju stavove njihovih autora, a ne nužno  i stavove <strong>Kluba knjige online-knjizara.ba</strong>. <strong>Klub knjige</strong> zadržava pravo da obriše  komentar bez najave i objašnjenja. Kao čitalac takođe prihvatate mogućnost da  među komentarima mogu biti pronađeni sadržaji koji mogu biti u suprotnosti sa Vašim  vjerskim, moralnim i drugim načelima i uvjerenjima.<br>
        Prilikom komentarisanja<strong> Sadržaja</strong>, saglasni ste da nećete:
    </p>
    <ul>
        <li>objavljivati  i/ili slati vulgarne, klevetničke, pornografske, uvredljive, prijeteće,  rasističke, fašističke i šovinističke sadržaje – tekstove, slike, video i/ili  audio zapise;</li>
        <li>objavljivati  i/ili slati reklamne ili promotivne sadržaje – tekstove, slike, video i/ili  audio zapise;</li>
        <li>objavljivati  i/ili slati tajne i/ili zaštićene podatke neke fizičke ili pravne osobe;</li>
        <li>lažno se  predstavljati (u ime druge fizičke ili pravne osobe);</li>
        <li>objavljivati,  prenositi i/ili slati informacije koje krše postojeće zakone Bosne i  Hercegovine i/ili međunarodne zakone;</li>
        <li>objavljivati,  prenositi i/ili slati lažne informacije u smislu nanošenja štete trećim  osobama;</li>
        <li>širiti  nacionalnu netrpeljivost ili vrijeđati građane Bosne i Hercegovine ili bilo  koje druge zemlje po nacionalnom ili bilo kojem drugom osnovu.</li>
    </ul>

    

</div>