@model StanjeUrediVM;


@{
    if (Model.ID == 0)
    {
        ViewData["Title"] = "Dodavanje stanja";
    }
    else
    {
        ViewData["Title"] = "Izmjena stanja";
    }
}
<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-left">
                <a asp-controller="Home" asp-action="Index" class="btn btn-info btn-sm">Menu</a>
            </th>
        </tr>
    </thead>
</table>

<h3>@ViewData["Title"]</h3>

<form asp-action="Snimi" method="post">
    @Html.HiddenFor(s => s.ID)

    <div class="form-group">
        <label>Tip stanja</label>
        <input asp-for="TipStanja" class="form-control" />
        <span asp-validation-for="TipStanja" class="text-danger"></span>
    </div>

    
    <input type="submit" value="Snimi" class="btn btn-primary" />
</form>



